<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>pos</key>
		<array>
			<real>3.700000047683716</real>
			<real>5.599999904632568</real>
			<real>-1.077681541442871</real>
		</array>
		<key>rot</key>
		<array>
			<real>0.0</real>
			<real>0.0</real>
			<real>0.0</real>
		</array>
		<key>skin</key>
		<string>Yellow</string>
		<key>type</key>
		<string>Buoy</string>
	</dict>
	<dict>
		<key>pos</key>
		<array>
			<real>3.700000047683716</real>
			<real>3.200000047683716</real>
			<real>-0.9079228639602661</real>
		</array>
		<key>rot</key>
		<array>
			<real>0.0</real>
			<real>0.0</real>
			<real>0.0</real>
		</array>
		<key>skin</key>
		<string>Green</string>
		<key>type</key>
		<string>Buoy</string>
	</dict>
	<dict>
		<key>pos</key>
		<array>
			<real>3.5906341075897217</real>
			<real>4.613224506378174</real>
			<real>-0.8017752170562744</real>
		</array>
		<key>rot</key>
		<array>
			<real>0.0</real>
			<real>0.0</real>
			<real>0.0</real>
		</array>
		<key>skin</key>
		<string>Red</string>
		<key>type</key>
		<string>Buoy</string>
	</dict>
	<dict>
		<key>pos</key>
		<array>
			<real>1.26530122756958</real>
			<real>-3.688227891921997</real>
			<real>-2.693066358566284</real>
		</array>
		<key>rot</key>
		<array>
			<real>-19.837879180908203</real>
			<real>0.0</real>
			<real>-0.0</real>
		</array>
		<key>skin</key>
		<string>Green</string>
		<key>type</key>
		<string>Wire</string>
	</dict>
	<dict>
		<key>pos</key>
		<array>
			<real>1.1100610494613647</real>
			<real>4.635539531707764</real>
			<real>-3.0650136470794678</real>
		</array>
		<key>rot</key>
		<array>
			<real>85.06391143798828</real>
			<real>-9.616241455078125</real>
			<real>-5.168849468231201</real>
		</array>
		<key>skin</key>
		<string>Orange</string>
		<key>type</key>
		<string>Path</string>
	</dict>
	<dict>
		<key>pos</key>
		<array>
			<real>-8.744945526123047</real>
			<real>3.548187732696533</real>
			<real>-4.259914398193359</real>
		</array>
		<key>rot</key>
		<array>
			<real>22.13374900817871</real>
			<real>0.0</real>
			<real>-0.0</real>
		</array>
		<key>type</key>
		<string>Window</string>
	</dict>
	<dict>
		<key>pos</key>
		<array>
			<real>-10.444059371948242</real>
			<real>-4.31752872467041</real>
			<real>-1.696946382522583</real>
		</array>
		<key>rot</key>
		<array>
			<real>-90.0071029663086</real>
			<real>1.6696133613586426</real>
			<real>-89.75640106201172</real>
		</array>
		<key>type</key>
		<string>Grapes</string>
	</dict>
	<dict>
		<key>pos</key>
		<array>
			<real>-0.7257707715034485</real>
			<real>-4.544227600097656</real>
			<real>-3.4423131942749023</real>
		</array>
		<key>rot</key>
		<array>
			<real>-58.8539924621582</real>
			<real>5.455219268798828</real>
			<real>-3.2881827354431152</real>
		</array>
		<key>skin</key>
		<string>Orange</string>
		<key>type</key>
		<string>Path</string>
	</dict>
	<dict>
		<key>pos</key>
		<array>
			<real>-1.304370403289795</real>
			<real>-5.568511962890625</real>
			<real>-3.475273609161377</real>
		</array>
		<key>rot</key>
		<array>
			<real>169.3304901123047</real>
			<real>-1.371241569519043</real>
			<real>11.82825756072998</real>
		</array>
		<key>skin</key>
		<string>Orange</string>
		<key>type</key>
		<string>Path</string>
	</dict>
	<dict>
		<key>pos</key>
		<array>
			<real>-0.8856938481330872</real>
			<real>8.082337379455566</real>
			<real>-0.928543210029602</real>
		</array>
		<key>rot</key>
		<array>
			<real>90.0</real>
			<real>0.0</real>
			<real>-90.0</real>
		</array>
		<key>skin</key>
		<string>checkerboard</string>
		<key>type</key>
		<string>Bin</string>
	</dict>
	<dict>
		<key>pos</key>
		<array>
			<real>-5.725491046905518</real>
			<real>3.6865127086639404</real>
			<real>-4.0</real>
		</array>
		<key>rot</key>
		<array>
			<real>-179.9921875</real>
			<real>0.0</real>
			<real>-0.0</real>
		</array>
		<key>skin</key>
		<string>37</string>
		<key>type</key>
		<string>Bin</string>
	</dict>
	<dict>
		<key>pos</key>
		<array>
			<real>-5.033690452575684</real>
			<real>3.6919636726379395</real>
			<real>-4.0</real>
		</array>
		<key>rot</key>
		<array>
			<real>179.78953552246094</real>
			<real>0.0</real>
			<real>-0.0</real>
		</array>
		<key>skin</key>
		<string>10</string>
		<key>type</key>
		<string>Bin</string>
	</dict>
	<dict>
		<key>pos</key>
		<array>
			<real>-5.0</real>
			<real>4.699999809265137</real>
			<real>-4.0</real>
		</array>
		<key>rot</key>
		<array>
			<real>-179.48025512695312</real>
			<real>0.0</real>
			<real>-0.0</real>
		</array>
		<key>skin</key>
		<string>98</string>
		<key>type</key>
		<string>Bin</string>
	</dict>
	<dict>
		<key>pos</key>
		<array>
			<real>-5.699999809265137</real>
			<real>4.699999809265137</real>
			<real>-4.0</real>
		</array>
		<key>rot</key>
		<array>
			<real>-179.89134216308594</real>
			<real>0.0</real>
			<real>-0.0</real>
		</array>
		<key>skin</key>
		<string>16</string>
		<key>type</key>
		<string>Bin</string>
	</dict>
	<dict>
		<key>pos</key>
		<array>
			<real>-6.405790328979492</real>
			<real>2.331854820251465</real>
			<real>-4.265569686889648</real>
		</array>
		<key>rot</key>
		<array>
			<real>58.36471939086914</real>
			<real>0.0</real>
			<real>-0.0</real>
		</array>
		<key>skin</key>
		<string>Orange</string>
		<key>type</key>
		<string>Path</string>
	</dict>
	<dict>
		<key>frequency</key>
		<real>28000.0</real>
		<key>pos</key>
		<array>
			<real>-3.2291653156280518</real>
			<real>0.14814206957817078</real>
			<real>-3.926018238067627</real>
		</array>
		<key>rot</key>
		<array>
			<real>36.613433837890625</real>
			<real>-6.500932693481445</real>
			<real>-8.663823127746582</real>
		</array>
		<key>type</key>
		<string>Pinger</string>
	</dict>
	<dict>
		<key>frequency</key>
		<real>37500.0</real>
		<key>pos</key>
		<array>
			<real>-6.200875759124756</real>
			<real>-3.413261651992798</real>
			<real>-4.224410533905029</real>
		</array>
		<key>rot</key>
		<array>
			<real>-74.1277084350586</real>
			<real>0.0</real>
			<real>-0.0</real>
		</array>
		<key>type</key>
		<string>Pinger</string>
	</dict>
</array>
</plist>
