<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Bin</key>
	<dict>
		<key>model</key>
		<string>bin.bam</string>
		<key>skins</key>
		<dict>
			<key>Net</key>
			<string>bins_net.png</string>
			<key>Sheild</key>
			<string>bins_shield.png</string>
		    <key>Sword</key>
			<string>bins_sword.png</string>
		    <key>Trident</key>
			<string>bins_trident.png</string>
            <key>10</key>
            <string>bins_10.png</string>
            <key>16</key>
            <string>bins_16.png</string>
            <key>37</key>
            <string>bins_37.png</string>
            <key>98</key>
            <string>bins_98.png</string>
            <key>checkerboard</key>
            <string>checkerboard.png</string>
		</dict>
        <key>default_skin</key>
        <string>Net</string>
	</dict>
	<key>Buoy</key>
	<dict>
		<key>model</key>
		<string>buoy.bam</string>
		<key>skins</key>
		<dict>
			<key>Green</key>
			<string>buoy_green.png</string>
			<key>Red</key>
			<string>buoy_red.png</string>
			<key>Yellow</key>
			<string>buoy_yellow.png</string>
		</dict>
        <key>default_skin</key>
        <string>Red</string>
	</dict>
	<key>Path</key>
	<dict>
		<key>model</key>
		<string>path.bam</string>
		<key>skins</key>
		<dict>
			<key>Orange</key>
			<string>path.png</string>
		</dict>
        <key>default_skin</key>
        <string>Orange</string>
	</dict>
	<key>Wire</key>
	<dict>
		<key>model</key>
		<string>wire.bam</string>
		<key>skins</key>
		<dict>
			<key>Green</key>
			<string>wire.png</string>
		</dict>
        <key>default_skin</key>
        <string>Green</string>
	</dict>
	<key>Window</key>
	<dict>
		<key>model</key>
		<string>window.bam</string>
	</dict>
	<key>Grapes</key>
	<dict>
		<key>model</key>
		<string>grapes2.x</string>
	</dict>
    <key>Pinger</key>
	<dict>
		<key>model</key>
		<string>pinger.bam</string>
	</dict>
</dict>
</plist>
