<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>pos</key>
		<array>
			<real>3.7000000476837158</real>
			<real>5.5999999046325684</real>
			<real>-1.0776815414428711</real>
		</array>
		<key>rot</key>
		<array>
			<real>0.0</real>
			<real>0.0</real>
			<real>0.0</real>
		</array>
		<key>skin</key>
		<string>Yellow</string>
		<key>type</key>
		<string>Buoy</string>
	</dict>
	<dict>
		<key>pos</key>
		<array>
			<real>3.7000000476837158</real>
			<real>3.2000000476837158</real>
			<real>-0.90792286396026611</real>
		</array>
		<key>rot</key>
		<array>
			<real>0.0</real>
			<real>0.0</real>
			<real>0.0</real>
		</array>
		<key>skin</key>
		<string>Green</string>
		<key>type</key>
		<string>Buoy</string>
	</dict>
	<dict>
		<key>pos</key>
		<array>
			<real>3.5906341075897217</real>
			<real>4.6132245063781738</real>
			<real>-0.80177521705627441</real>
		</array>
		<key>rot</key>
		<array>
			<real>0.0</real>
			<real>0.0</real>
			<real>0.0</real>
		</array>
		<key>skin</key>
		<string>Red</string>
		<key>type</key>
		<string>Buoy</string>
	</dict>
	<dict>
		<key>pos</key>
		<array>
			<real>-0.58552229404449463</real>
			<real>3.7000000476837158</real>
			<real>-2.7000000476837158</real>
		</array>
		<key>rot</key>
		<array>
			<real>-40.0</real>
			<real>0.0</real>
			<real>-0.0</real>
		</array>
		<key>skin</key>
		<string>Green</string>
		<key>type</key>
		<string>Wire</string>
	</dict>
	<dict>
		<key>pos</key>
		<array>
			<real>-2.2999999523162842</real>
			<real>4.0</real>
			<real>-3.7781176567077637</real>
		</array>
		<key>rot</key>
		<array>
			<real>61.563835144042969</real>
			<real>-9.6162424087524414</real>
			<real>-5.1688494682312012</real>
		</array>
		<key>skin</key>
		<string>Orange</string>
		<key>type</key>
		<string>Path</string>
	</dict>
	<dict>
		<key>pos</key>
		<array>
			<real>-6.7680773735046387</real>
			<real>-3.8179638385772705</real>
			<real>-4.2599139213562012</real>
		</array>
		<key>rot</key>
		<array>
			<real>-23.812358856201172</real>
			<real>0.0</real>
			<real>-0.0</real>
		</array>
		<key>type</key>
		<string>Window</string>
	</dict>
	<dict>
		<key>pos</key>
		<array>
			<real>-2.37526535987854</real>
			<real>-5.2068519592285156</real>
			<real>-2.6999995708465576</real>
		</array>
		<key>rot</key>
		<array>
			<real>20.327154159545898</real>
			<real>0.0</real>
			<real>-0.0</real>
		</array>
		<key>type</key>
		<string>Grapes</string>
	</dict>
	<dict>
		<key>pos</key>
		<array>
			<real>-7.9653210639953613</real>
			<real>-4.1591720581054688</real>
			<real>-4.2566862106323242</real>
		</array>
		<key>rot</key>
		<array>
			<real>0.30884131789207458</real>
			<real>0.0</real>
			<real>-0.0</real>
		</array>
		<key>skin</key>
		<string>Orange</string>
		<key>type</key>
		<string>Path</string>
	</dict>
	<dict>
		<key>pos</key>
		<array>
			<real>-7.1357574462890625</real>
			<real>-2.6071233749389648</real>
			<real>-4.2566394805908203</real>
		</array>
		<key>rot</key>
		<array>
			<real>-80.0</real>
			<real>0.0</real>
			<real>-0.0</real>
		</array>
		<key>skin</key>
		<string>Orange</string>
		<key>type</key>
		<string>Path</string>
	</dict>
	<dict>
		<key>pos</key>
		<array>
			<real>-8.5</real>
			<real>5.0</real>
			<real>-4.0</real>
		</array>
		<key>rot</key>
		<array>
			<real>90.0</real>
			<real>0.0</real>
			<real>0.0</real>
		</array>
		<key>skin</key>
		<string>Net</string>
		<key>type</key>
		<string>Bin</string>
	</dict>
	<dict>
		<key>pos</key>
		<array>
			<real>-8.5</real>
			<real>4.3000001907348633</real>
			<real>-4.0</real>
		</array>
		<key>rot</key>
		<array>
			<real>90.0</real>
			<real>0.0</real>
			<real>0.0</real>
		</array>
		<key>skin</key>
		<string>Sword</string>
		<key>type</key>
		<string>Bin</string>
	</dict>
	<dict>
		<key>pos</key>
		<array>
			<real>-8.5</real>
			<real>3.5999999046325684</real>
			<real>-4.0</real>
		</array>
		<key>rot</key>
		<array>
			<real>90.0</real>
			<real>0.0</real>
			<real>0.0</real>
		</array>
		<key>skin</key>
		<string>Sheild</string>
		<key>type</key>
		<string>Bin</string>
	</dict>
	<dict>
		<key>pos</key>
		<array>
			<real>-8.5</real>
			<real>2.9000000953674316</real>
			<real>-4.0</real>
		</array>
		<key>rot</key>
		<array>
			<real>90.0</real>
			<real>0.0</real>
			<real>0.0</real>
		</array>
		<key>skin</key>
		<string>Trident</string>
		<key>type</key>
		<string>Bin</string>
	</dict>
	<dict>
		<key>pos</key>
		<array>
			<real>-7.0</real>
			<real>4.4160580635070801</real>
			<real>-4.2655696868896484</real>
		</array>
		<key>rot</key>
		<array>
			<real>0.0</real>
			<real>0.0</real>
			<real>0.0</real>
		</array>
		<key>skin</key>
		<string>Orange</string>
		<key>type</key>
		<string>Path</string>
	</dict>
    <dict>
		<key>pos</key>
		<array>
			<real>-7.0</real>
			<real>4.4160580635070801</real>
			<real>-2.2655696868896484</real>
		</array>
		<key>rot</key>
		<array>
			<real>0.0</real>
			<real>0.0</real>
			<real>0.0</real>
		</array>
        <key>frequency</key>
        <real>28000</real>
		<key>type</key>
		<string>Pinger</string>
	</dict>
    <dict>
		<key>pos</key>
		<array>
			<real>-3.0</real>
			<real>0.4160580635070801</real>
			<real>-2.2655696868896484</real>
		</array>
		<key>rot</key>
		<array>
			<real>0.0</real>
			<real>0.0</real>
			<real>0.0</real>
		</array>
        <key>frequency</key>
        <real>37500</real>
		<key>type</key>
		<string>Pinger</string>
	</dict>


</array>
</plist>
