binaries/
/link-stage/

.ninja_log
.ninja_deps
.sconsign.dblite
*.ninja
*.pyc
*.o
*.sw[a-z]
*~
*.log
*.csv
*.pickle
stats-newest
/libshm/c/
/libshm/py/
/libshm/scm/*.scm
/libshm/scm/*.so
/libshm/haskell/
/libshm/index/
/usd/devices/
/webserver/whitelist.txt
/control/faq.pdf
/can/gen/
/vision/logs/
/vision/pids/
/vision/.shm_metadata.tmp
/aslam/v3/src/Compiled*
/aslam/build/
/libshm/doc/
/serial/doc/

*.o
*.hi
*.dyn_hi
*.dyn_o
*.gch

.idea

.DS_Store
._.DS_Store

.ycm_extra_conf.py*
.ropeproject/
.vscode/

.zcompdump*
.zsh_history
.local/
.cache/
.Xauthority
.stack-work/

/gocode/pkg/
/gocode/bin/
/gocode/src/*
!/gocode/src/cuauv.bitbucket.org/

/nixos/configs/configuration.nix
/nixos/configs/hardware-configuration.nix

/vehicle-scripts/auv-env/home/**
!/vehicle-scripts/auv-env/home/default/.zshrc
!/vehicle-scripts/auv-env/home/default/.zsh_prompt
