<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">
    <title>{{ environ('CUAUV_VEHICLE') }} webserver {% if title %}| {{ title }}{% endif %}</title>
    <link href="{{ static_url('css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ static_url('css/cuauv.css') }}" rel="stylesheet">
    {% block head %}{% endblock %}
</head>
<body>
{% block content %}{% endblock %}
    <script src="{{ static_url('js/jquery-3.1.1.min.js') }}"></script>
    <script src="{{ static_url('js/bootstrap.min.js') }}"></script>
    <script>
window.CUAUV_VEHICLE = "{{ environ('CUAUV_VEHICLE') }}";
window.CUAUV_LOCALE = "{{ environ('CUAUV_LOCALE') }}";
    </script>
{% block scripts %}{% endblock %}
{% include 'footer.html' %}
</body>
