[Unit]
Description=Manages auv-seriald
Wants=dev-ttyUSB_thor_GPIO
After=dev-ttyUSB_thor_GPIO

[Service]
User=software
ExecStart=/home/software/cuauv/software/trogdor/auv-systemd-set-environment.sh auv-seriald

[Install]
WantedBy=trogdor.target
