[Unit]
Description=Manages auv-kalmand
#Wants=dev-ttyUSB_thor_
#After=dev-ttyUSB_thor_

[Service]
User=software
ExecStart=/home/software/cuauv/software/trogdor/auv-systemd-set-environment.sh auv-kalmand

[Install]
WantedBy=trogdor.target
