[Unit]
Description=Start Docker container
After=docker.service

[Service]
User=software
Type=simple
ExecStartPre=/bin/sleep 15
ExecStart=/home/software/cuauv/subcode/docker-helper.sh vehicle $(cat /etc/hostname)

[Install]
WantedBy=docker.service
