img.posted {
    max-width: 100%;
    max-height: 100%;
}

body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.slider_value {
    color: #F8931F;
    font-weight: bold;
    width: 100%;
}

.text_input {
    color: #F8931F;
    font-weight: bold;
}

#options {
    position: fixed;
    min-width: 200px;
    overflow-y: auto;
    top: 50px;
    bottom: 0;
    margin-right: 0px;
}
