img.posted {
    max-width: 100%;
    max-height: 100%;
    cursor: crosshair;
}

.slider_value {
    color: #F8931F;
    font-weight: bold;
    width: 100%;
}

.text_input {
    color: #F8931F;
    font-weight: bold;
}

#options {
    position: fixed;
    min-width: 200px;
    overflow-y: auto;
    top: 50px;
    bottom: 0;
    margin-right: 0px;
}

.margin-left-right {
    margin-left: 1em;
    margin-right: 1em;
}

#coordinate, #color-picker {
    font-family: monospace;
}

#color-indicator {
    display: inline-block;
    height: 1em;
    width: 1em;
}

.image-name {
    font-family: monospace;
}

.fps {
    font-family: monospace;
    float: right;
}
